# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# LaTeX temp files
temp_latex/
*.aux
*.log
*.out
*.pdf
*.tex~

# IDE
.vscode/
.idea/
*.swp
*.swo
